# Steph Curry Popcorn Ranking Analysis

## 1. Region and Domain

San Francisco, California
Sports and Athletics

## 2. Research Question 

Is there a relationship between Steph Curry's ranking of stadium popcorn over the 2018-2019 season and his team, the Golden State Warrior's, performance?

## 3. Links

[Steph Curry Popcorn Ratings](https://data.world/makeovermonday/2019w17)

[2018-2019 Golden State Warriors Schedule and Results](https://www.basketball-reference.com/teams/GSW/2019_games.html)

# Data Loading and Cleansing

In [1]:
# required packages 

import pandas as pd

In [3]:
# load data 

popcorn_ratings = pd.read_excel('Data\StephCurryStadiumPopcornRankings.xlsx')
season_results = pd.read_csv('Data\GoldenStateWarriors2018-19SeasonResults.csv')

In [4]:
popcorn_ratings.head()

,TEAM,ARENA,FRESHNESS,SALTINESS,CRUNCHINESS,BUTTER,PRESENTATION,TOTAL SCORE
0,Dallas Mavericks,American Airlines Center,5,5,4,5,5,24
1,Brooklyn Nets,Barclays Center,4,5,5,4,5,23
2,Miami Heat,American Airlines Arena,5,4,4,4,5,22
3,Portland Trailblazers,Moda Center,4,4,5,4,3,20
4,Sacramento Kings,Golden 1 Center,2,4,4,4,5,19

In [5]:
season_results.head()

,G,Date,Start (ET),Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes
0,1,Tue Oct 16 2018,10:30p,NaN,Box Score,NaN,Oklahoma City Thunder,W,NaN,108,100,1,0,W 1,NaN
1,2,Fri Oct 19 2018,10:30p,NaN,Box Score,@,Utah Jazz,W,NaN,124,123,2,0,W 2,NaN
2,3,Sun Oct 21 2018,8:00p,NaN,Box Score,@,Denver Nuggets,L,NaN,98,100,2,1,L 1,NaN
3,4,Mon Oct 22 2018,10:30p,NaN,Box Score,NaN,Phoenix Suns,W,NaN,123,103,3,1,W 1,NaN
4,5,Wed Oct 24 2018,10:30p,NaN,Box Score,NaN,Washington Wizards,W,NaN,144,122,4,1,W 2,NaN

### Cleansing Popcorn Ratings

In [7]:
popcorn_ratings.columns

Index(['TEAM', 'ARENA', 'FRESHNESS', 'SALTINESS', 'CRUNCHINESS', 'BUTTER',
       'PRESENTATION', 'TOTAL SCORE'],
      dtype='object')

In [8]:
popcorn_ratings = popcorn_ratings.rename(columns={'TEAM':'Opponent', 'ARENA':'Arena', 'FRESHNESS':'Freshness', 'SALTINESS':'Saltiness', 'CRUNCHINESS':'Crunchiness', 'BUTTER':'Butter', 'PRESENTATION':'Presentation', 'TOTAL SCORE':'Total_Score'}
                                         )

In [9]:
popcorn_ratings.head()

,Opponent,Arena,Freshness,Saltiness,Crunchiness,Butter,Presentation,Total_Score
0,Dallas Mavericks,American Airlines Center,5,5,4,5,5,24
1,Brooklyn Nets,Barclays Center,4,5,5,4,5,23
2,Miami Heat,American Airlines Arena,5,4,4,4,5,22
3,Portland Trailblazers,Moda Center,4,4,5,4,3,20
4,Sacramento Kings,Golden 1 Center,2,4,4,4,5,19

In [10]:
popcorn_ratings['Total_Score'] = popcorn_ratings['Total_Score'] / 25

In [11]:
popcorn_ratings.head()

,Opponent,Arena,Freshness,Saltiness,Crunchiness,Butter,Presentation,Total_Score
0,Dallas Mavericks,American Airlines Center,5,5,4,5,5,0.96
1,Brooklyn Nets,Barclays Center,4,5,5,4,5,0.92
2,Miami Heat,American Airlines Arena,5,4,4,4,5,0.88
3,Portland Trailblazers,Moda Center,4,4,5,4,3,0.80
4,Sacramento Kings,Golden 1 Center,2,4,4,4,5,0.76

In [13]:
popcorn_ratings[['Opponent']].value_counts()

Opponent
Atlanta Hawks                  1
Milwaukee Bucks                1
Utah Jazz                      1
Toronto Raptors                1
San Antonio Spurs              1
Sacramento Kings               1
Portland Trailblazers          1
Phoenix Suns                   1
Philadelphia Sixers            1
Orlando Magic                  1
Oklahoma City Thunder          1
New York City Knicks           1
New Orleans Pelicans           1
Minnesota Timberwolves         1
Miami Heat                     1
Boston Celtics                 1
Memphis Grizzlies              1
Los Angeles Clippers/Lakers    1
Indiana Pacers                 1
Houston Rockets                1
Golden State Warriors          1
Detroit Pistons                1
Denver Nuggets                 1
Dallas Mavericks               1
Cleveland Cavaliers            1
Chicago Bulls                  1
Charlotte Hornets              1
Brooklyn Nets                  1
Washington Wizards             1
dtype: int64

'Los Angeles Clippers/Lakers' will be different in the results dataframe. Will handle after cleansing the results dataframe.

### Results Cleansing

In [15]:
season_results.head()

,G,Date,Start (ET),Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes
0,1,Tue Oct 16 2018,10:30p,NaN,Box Score,NaN,Oklahoma City Thunder,W,NaN,108,100,1,0,W 1,NaN
1,2,Fri Oct 19 2018,10:30p,NaN,Box Score,@,Utah Jazz,W,NaN,124,123,2,0,W 2,NaN
2,3,Sun Oct 21 2018,8:00p,NaN,Box Score,@,Denver Nuggets,L,NaN,98,100,2,1,L 1,NaN
3,4,Mon Oct 22 2018,10:30p,NaN,Box Score,NaN,Phoenix Suns,W,NaN,123,103,3,1,W 1,NaN
4,5,Wed Oct 24 2018,10:30p,NaN,Box Score,NaN,Washington Wizards,W,NaN,144,122,4,1,W 2,NaN

In [16]:
season_results.columns

Index(['G', 'Date', 'Start (ET)', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Opponent', 'Unnamed: 7', 'Unnamed: 8', 'Tm', 'Opp', 'W', 'L', 'Streak',
       'Notes'],
      dtype='object')

In [17]:
season_results = season_results[['G', 'Date', 'Unnamed: 5','Opponent', 'Unnamed: 7', 'Tm', 'Opp', 'W', 'L', 'Streak' ]]

season_results.head()

,G,Date,Unnamed: 5,Opponent,Unnamed: 7,Tm,Opp,W,L,Streak
0,1,Tue Oct 16 2018,NaN,Oklahoma City Thunder,W,108,100,1,0,W 1
1,2,Fri Oct 19 2018,@,Utah Jazz,W,124,123,2,0,W 2
2,3,Sun Oct 21 2018,@,Denver Nuggets,L,98,100,2,1,L 1
3,4,Mon Oct 22 2018,NaN,Phoenix Suns,W,123,103,3,1,W 1
4,5,Wed Oct 24 2018,NaN,Washington Wizards,W,144,122,4,1,W 2

In [18]:
season_results = season_results.rename(columns={'G':'Game_Count', 'Unnamed: 5': 'Away','Unnamed: 7':'Outcome' })

In [19]:
season_results.head()

,Game_Count,Date,Away,Opponent,Outcome,Tm,Opp,W,L,Streak
0,1,Tue Oct 16 2018,NaN,Oklahoma City Thunder,W,108,100,1,0,W 1
1,2,Fri Oct 19 2018,@,Utah Jazz,W,124,123,2,0,W 2
2,3,Sun Oct 21 2018,@,Denver Nuggets,L,98,100,2,1,L 1
3,4,Mon Oct 22 2018,NaN,Phoenix Suns,W,123,103,3,1,W 1
4,5,Wed Oct 24 2018,NaN,Washington Wizards,W,144,122,4,1,W 2

In [20]:
season_results['Away'] = season_results['Away'].apply(lambda x : 1 if x == "@" else 0)

In [21]:

season_results.head()

,Game_Count,Date,Away,Opponent,Outcome,Tm,Opp,W,L,Streak
0,1,Tue Oct 16 2018,0,Oklahoma City Thunder,W,108,100,1,0,W 1
1,2,Fri Oct 19 2018,1,Utah Jazz,W,124,123,2,0,W 2
2,3,Sun Oct 21 2018,1,Denver Nuggets,L,98,100,2,1,L 1
3,4,Mon Oct 22 2018,0,Phoenix Suns,W,123,103,3,1,W 1
4,5,Wed Oct 24 2018,0,Washington Wizards,W,144,122,4,1,W 2

In [22]:
season_results['Outcome'] = season_results['Outcome'].apply(lambda x: 1 if x == "W" else 0)

In [23]:
season_results.head()

,Game_Count,Date,Away,Opponent,Outcome,Tm,Opp,W,L,Streak
0,1,Tue Oct 16 2018,0,Oklahoma City Thunder,1,108,100,1,0,W 1
1,2,Fri Oct 19 2018,1,Utah Jazz,1,124,123,2,0,W 2
2,3,Sun Oct 21 2018,1,Denver Nuggets,0,98,100,2,1,L 1
3,4,Mon Oct 22 2018,0,Phoenix Suns,1,123,103,3,1,W 1
4,5,Wed Oct 24 2018,0,Washington Wizards,1,144,122,4,1,W 2

In [26]:
away_results = season_results.query("Away == 1")

In [29]:
import numpy as np

results_per_stadium = away_results.groupby(['Opponent']).agg(
    Total_Wins=('Outcome', np.sum),
    Total_Games_at_Stadium=('Opponent', np.count_nonzero)
)

In [31]:
results_per_stadium.reset_index(inplace=True)

In [32]:
results_per_stadium.head()

            Opponent  Total_Wins  Total_Games_at_Stadium
0      Atlanta Hawks           1                       1
1     Boston Celtics           1                       1
2      Brooklyn Nets           1                       1
3  Charlotte Hornets           1                       1
4      Chicago Bulls           1                       1

### Joining Dataframes

In [33]:
popcorn_ratings.head()

,Opponent,Arena,Freshness,Saltiness,Crunchiness,Butter,Presentation,Total_Score
0,Dallas Mavericks,American Airlines Center,5,5,4,5,5,0.96
1,Brooklyn Nets,Barclays Center,4,5,5,4,5,0.92
2,Miami Heat,American Airlines Arena,5,4,4,4,5,0.88
3,Portland Trailblazers,Moda Center,4,4,5,4,3,0.80
4,Sacramento Kings,Golden 1 Center,2,4,4,4,5,0.76

In [34]:
popcorn_ratings.query("Opponent == 'Los Angeles Clippers/Lakers'")

,Opponent,Arena,Freshness,Saltiness,Crunchiness,Butter,Presentation,Total_Score
28,Los Angeles Clippers/Lakers,Staples Center,2,1,3,1,3,0.4

In [35]:
results_per_stadium['Opponent'].value_counts()

Atlanta Hawks             1
Milwaukee Bucks           1
Utah Jazz                 1
Toronto Raptors           1
San Antonio Spurs         1
Sacramento Kings          1
Portland Trail Blazers    1
Phoenix Suns              1
Philadelphia 76ers        1
Orlando Magic             1
Oklahoma City Thunder     1
New York Knicks           1
New Orleans Pelicans      1
Minnesota Timberwolves    1
Miami Heat                1
Boston Celtics            1
Memphis Grizzlies         1
Los Angeles Lakers        1
Los Angeles Clippers      1
Indiana Pacers            1
Houston Rockets           1
Detroit Pistons           1
Denver Nuggets            1
Dallas Mavericks          1
Cleveland Cavaliers       1
Chicago Bulls             1
Charlotte Hornets         1
Brooklyn Nets             1
Washington Wizards        1
Name: Opponent, dtype: int64